@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic");

$textColor: #111111 !default;
$primaryColor: #12afaf !default;
$primaryColorDark: #064e4e !default;
$secondaryColor: #009500 !default;
$secondaryColorDark: #057705 !default;
$whiteColor: #ffffff !default;
$grayColor: #8c8888 !default;

@mixin position-absolute($top: null, $right: null, $bottom: null, $left: null) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin flexbox($direction: null, $justify: null, $align: null, $wrap: null) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@keyframes fedeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fedeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
